name: Flutter Web CI/CD (Fast)

on:
  push:
    branches: [ main ]
    paths:
      - lib/**
      - web/**
      - pubspec.yaml
      - pubspec.lock

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Cache Flutter SDK + pub packages
      - name: Cache Flutter & Pub
        uses: actions/cache@v4
        with:
          path: |
            ~/.pub-cache
            /opt/hostedtoolcache/flutter
          key: flutter-${{ runner.os }}-${{ hashFiles('pubspec.lock') }}
          restore-keys: |
            flutter-${{ runner.os }}-

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.5'
          channel: 'stable'

      - name: Disable analytics
        run: flutter config --no-analytics --no-cli-animations

      - name: Pub get
        run: flutter pub get

      - name: Build web
        run: flutter build web --no-web-resources-cdn

      - name: Deploy FTPS
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: free02.123host.vn
          protocol: ftps
          port: 21
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: build/web/
          server-dir: /public_html/